snippet log "console.log" b
console.log('$1');
endsnippet

snippet /| "comment block" b
/*
|--------------------------------------------------------------------------
| $1
|--------------------------------------------------------------------------
*/
endsnippet

snippet cc "create class/component" b
import React, { Component, PropTypes } from 'react';

/*
|--------------------------------------------------------------------------
| $1
|--------------------------------------------------------------------------
*/

export default class ${1:ClassName} extends Component {

	render() {
		return (
			${VISUAL}$2
		);
	}

}

$1.propTypes = \{
\};
endsnippet

snippet cn "" w
className="$1"$2
endsnippet 
